<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--头部导航栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">zhazha工作室</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/user/loginOut}">注销</a>
        </li>
    </ul>
</nav>

<!--侧边导航栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a th:class="${active!='main.html'?'nav-link':'nav-link active'}"
                   th:href="@{/main.html}">
                    <span data-feather="home"></span>
                    首页 <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active!='list.html'?'nav-link':'nav-link active'}"
                   th:href="@{/employee/allEmployee}">
                    <span data-feather="users"></span>
                    员工管理
                </a>
            </li>

<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file"></span>-->
<!--                    Orders-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="shopping-cart"></span>-->
<!--                    Products-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="bar-chart-2"></span>-->
<!--                    Reports-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="layers"></span>-->
<!--                    Integrations-->
<!--                </a>-->
<!--            </li>-->
        </ul>

<!--        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
<!--            <span>Saved reports</span>-->
<!--            <a class="d-flex align-items-center text-muted" href="#">-->
<!--                <span data-feather="plus-circle"></span>-->
<!--            </a>-->
<!--        </h6>-->

<!--        <ul class="nav flex-column mb-2">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Current month-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Last quarter-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Social engagement-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span data-feather="file-text"></span>-->
<!--                    Year-end sale-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->

    </div>
</nav>

<!--main顶部栏-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
     th:fragment="maintopbar">
    <h1 class="h2">zhazha工作室</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

</html>