<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.mapper.UserMapper">

    <!--得到用户信息 登陆-->
    <select id="getUserByUserNameAndPwd" parameterType="user" resultType="user">
        select *
        from springboot.user
        where username = #{userName}
          and password = #{password};
    </select>

    <!--查询用户是否存在  1 0-->
    <select id="userIsExit" parameterType="String" resultType="_int">
        select count(1)
        from springboot.user
        where username = #{username};
    </select>

    <!--查询email是否存在 1 0-->
    <select id="emailIsExit" parameterType="String" resultType="_int">
        select count(1)
        from springboot.user
        where email = #{email};
    </select>

    <!--添加用户信息 注册用户-->
    <insert id="adduser" parameterType="user">
        insert into springboot.user(username, email, password, status)
        values (#{userName}, #{email}, #{password}, #{status});
    </insert>

    <!--更新用户信息 重置密码-->
    <update id="updateUser" parameterType="user">
        update springboot.user
        set password=#{password}
        where email = #{email};
    </update>

    <!--得到所有用户信息-->
    <select id="getUserList" resultType="user">
        select *
        from springboot.user;
    </select>

    <!--删除用户-->
    <delete id="deleteUserById" parameterType="int">
        delete
        from springboot.user
        where id = #{id};
    </delete>


</mapper>
